<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <title>Whether the Weather</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script> -->



</head>

<body>

  <!-- <h1>cool weather</h1>
    <input id="search"><button id="submit">Submit</button>  -->
  <div id="toggle"><button id="dark-mode">toggle</button></div>
  <div id="current">
    <div id="location">


      <form action="/" method="post" id="search">
        <input name="city" id="input" type="search" placeholder="enter a city">
    </div>


      </div>

      <!-- <div class="ribbon">
                <p class="weekday">Monday</p> <img class="forecast-icon" src="assets/tiny-sun.png"><img
                    class="ribbon ribbon-image" src="./assets/ribbon.png">

            </div>

            <div class="ribbon">
                <p class="weekday">Monday</p> <img class="forecast-icon" src="assets/tiny-sun.png"> <img
                    class="ribbon ribbon-image" src="./assets/ribbon.png">

            </div> -->


    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="server.js"></script>

</body>

</html>